doctype html
html
    head
        meta(charset="utf-8")
        title= title
        link(type="text/css", rel="stylesheet", href="/css/singin.css")
    body
        div(class="fix wrap")
            ul(class="fl left")
                - let list = ["node","java","jade","c++","css","html","html5","js","css3"];
                each item in list
                    li.fl= item
            ul(class="fr right")
                if session
                    li.fr
                        a(href="/user/registered") 注册
                    li.fr
                        a(href="/user/singin") 登录
                else
                    li.fl
                        a(href="", class="self") 个人中心
                    li.fl
                        a(href="", class="img")
                            img(src=avatar)
                    li.fl
                        a(href="/user/logout", class="self") 退出

        div.content
            if reg
                form(class="inp", action="/registered", method="post")
                    input(type="text", name="username", class="user", placeholder="请输入用户名")
                    input(type="password", name="password", class="password", placeholder="请输入密码")
                    input(type="submit", class="sub", value="注册")
            else if singin
                form(class="inp", action="/singing", method="post")
                    input(type="text", name="username", class="user", placeholder="请输入用户名")
                    input(type="password", name="password", class="password", placeholder="请输入密码")
                    input(type="submit", class="sub", value="登录")
            else if b
                h1= content
                .article
                    a(href="/article") 跳转到文章路由(发表文章)
                    a(href="/page/1")  跳转到文章列表
            if articleBoo
                form(action="/article/sub", method="post", class="submit")
                    ul(class="title fix")
                        li(class="fl tip")
                            span 文章类型
                            select(name="Tips")
                                option(value="请选择") 请选择
                                option(value="vue") vue
                                option(value="node") node
                                option(value="js") js
                                option(value="rect") rect
                                option(value="java") java
                                option(value="html") html
                                option(value="h5") h5
                        li(class="fl tit")
                            span 标题
                            input(type="text" placeholder="请输入标题", name="title")
                        li(class="fr submit")
                            input(type="submit", value="发表文章")
                        li(class="fl inp")
                            input(type="text" class="inp", name="content")
            if publish
                h1= msg
                a(href="/page/1")  跳转到文章列表
            else if listBoo
                ul.articleL
                    each item in artList
                        li.fix
                            a(class="disb", href=`/article/${item._id}`)
                                div(class="fl left")
                                    img(src=item.author.avatar, width="100%", height="100%")
                                div(class="fl center public")
                                    p.tips= item.Tips
                                    p.user= item.author.username
                                div(class="fl right public")
                                    p.cont= item.content
                                    p.data= item.created.toLocaleString()
                                div.count= item.countNumber
                div(class="btn")
                    div.fix
                        p(class="maxpage fl") 一共
                            span= maxAge + " 条数据,点击下面可以跳转,每次显示3条"
                        a(href="/article") 跳转到文章路由(发表文章)
                    div(class="fix btnlist")
                        - for (var x = 1; x <= Math.ceil(maxAge/3); x++)
                            a(href=`/page/${x}`, class="fl")=x
            else if detail
                ul.arti
                    li.fix
                        img(src= details.author.avatar)
                        p= details.title
                    li.fix
                        span.fl= details.author.username
                        span.fl= details.created.toLocaleString()
                    li.cont= details.content
                div.comt
                    form(action="/comment", method="post")
                        input(type="text", name="id", class="inp", value=details._id)
                        input(type="text", name="content", placeholder="请输入评论", class="save")
                        input(type="submit", name="sub", value="发表", class="sub")
                ul.comtd
                    each list in _comment
                        li.fix
                            div.img
                                img(src=list.avatar)
                            div.right
                                p.user
                                    b= list.username
                                    span= list.created.toLocaleString()
                            div.c= list.content



